
[info]
name = Visualization

[service]
schedule = {"all":"continuous"}

[kibana]
Cmd = ""
HostConfig = {"PortBindings": { "5601/http": [{ "HostPort": "5601" }]}, "Links": ["core-elasticsearch:elasticsearch"]}
